body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  padding: 0 25px;
  margin: 0 auto;
}
/* small */
@media (min-width: 768px){
  .container{
    width: 750px
  }
}
/* medium */
@media (min-width: 992px){
  .container{
    width: 970px
  }
}
/* larg */
@media (min-width: 1200px){
  .container{
    width: 1170px
  }
}
:root{
  --pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --p-color: #666;
  --section-padding: 80px;
}
*{
  box-sizing: border-box;
  margin: 0;
}
* input:focus{
  outline: none;
}
.btn{
  border: none;
  padding: 10px 40px;
  color: white;
  background-color: var(--pink);
  border: 2px solid var(--pink);
  border-radius: 20px;
  margin-top: 15px;
  transition: .3s;
}
.container .btn:hover{
  color: var(--pink);
  background-color: white;
}
img.top{
  max-width: 100%;
  margin-bottom: -6px;
}
img.bottom{
  max-width: 100%;
}



header{
  padding: 15px 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo img{
  height: 20px;
  width: 20px;
}
.logo h3{
  margin: 0;
}
header button{
  outline: none;
  padding: 4px 10px;
  font-size: 10px;
  background-color: white;
  color: var(--pink);
  border: 1px solid var(--pink);
  border-radius: 20px;
  transition: .3s;
}
header button:hover{
  color: white;
  background-color: var(--pink);
}

.landing {
  padding: var(--section-padding) 0;
  text-align: center;
}
.landing .container p{
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 10px;
}
.landing .container > span {
  display: block;
  color: var(--p-color);
  font-size: 13px;
  padding: 0 200px;
}
.landing .container > img{
  max-width: calc(100% - 50px);
  margin: 30px 30px 0;
}
.landing .container .counter{
  display: flex;
  justify-content: space-around;
}
.landing .container .counter .box{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.landing .container .box img{
  width: 20px;
}
.landing .container .box p{
  text-align: left;
  font-size: 50px;
}
.landing .container .box span{
  color: var(--p-color);
  font-size: 13px;
}
@media (max-width:768px) {
  .landing .container > p{
    font-size: 20px;
  }
  .landing .container > span{
    padding: 0 10px;
  }
  .landing .container .counter{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .landing .container .box img{
    margin: auto;
  }
}

section .service{
  padding: var(--section-padding) 0;
  background-color: var(--Very-Pale-Blue);
}
section > .service:nth-of-type(3){
  background-color: white;
}
.service .container{
  display: flex;
  gap: 30px;
  align-items: center;
}
.service .container p{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.service .container span{
  color: var(--p-color);
  font-size: 13px;
}
.service .container img{
  max-width: 90%;
}
@media (max-width:768px) {
  .service .container{
    flex-direction: column-reverse;
    text-align: center;
    gap: 100px;
  }
  section > .service:nth-of-type(3) .container{
    flex-direction: column;
  }
  .service .container p{
    font-size: 25px;
  }
}

section .get-start{
  padding: var(--section-padding) 0;
  text-align: center;
}
section .get-start p{
  font-size: 30px;
  font-weight: bold;
}
@media (max-width:768px){
  section .get-start p{
    font-size: 25px;
  }
}

footer{
  padding: var(--section-padding) 0 30px;
  background-color: var(--Very-Dark-Cyan);
  color: white;
}
footer .container .boxes{
  display: flex;
  gap: 50px;
}
footer .container .logo{
  margin-bottom: 20px;
}
footer .container .logo h3{
  font-size: 40px;
}
footer .container .logo img{
  width: 40px;
  height: 40px;
  /* filter */
}
footer .container span{
  font-size: 13px;
  color: rgb(192, 192, 192);
}
footer .container .contact{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container .box:nth-child(2) p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
footer .container .sub{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}
footer .container .sub input[type= email],
footer .container .sub input[type= submit]{
  padding: 5px 10px;
  border-radius: 10px;
  caret-color: var(--pink);
  transition: .3s;
}
footer .container .sub input[type= email]{
  flex: 2;
  border: none;
}
footer .container .sub input[type= email]:focus{
  border: 2px solid var(--pink);
}
footer .container .sub input[type= submit]{
  flex: 1;
  border: 2px solid var(--pink);
  background-color: var(--pink);
  color: white;
  font-size: 13px;
}
footer .container .sub input[type= submit]:hover{
  color: var(--pink);
  background-color: white;
}
@media (max-width:768px){
  footer .container{
    flex-direction: column;
  }
  footer .container .boxes{
    flex-direction: column-reverse;
  }
}
@media (max-width:375px){
  footer .container .sub{
    flex-direction:column ;
    align-items: end;
    gap: 10px;
  }
  footer .container .sub input[type= email],
  footer .container .sub input[type= submit]{
    padding: 5px 10px;
    border-radius: 3px;
  }
  footer .container .sub input[type= email]{
  width: 100%;
}
}

footer .attribution{
  padding: 25px 0 0;
  margin: 30px 0 0;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 15px;
}
footer .attribution a{
  margin: 0 15px;
  text-decoration: none;
  color: rgb(3, 3, 114);
  transition: .3s;
}
footer .attribution a:hover{
  font-size: 16px;
  color: var(--pink);
}
@media (max-width:768px){
  footer .attribution{
    font-size: 12px;
  }
  footer .attribution a:hover{
    font-size: 13px;
  }
}



